In [111]:
#Importing numeric table
import pandas as pd
numeric_df = pd.read_csv('/home/data/MSA8010/msa8010f16t03/data/train_numeric.csv')

In [112]:
print("the 1 is %d"%sum(numeric_df.Response))

the 1 is 6879

In [113]:
# importing categorical table
categorical_df = pd.read_csv('/home/data/MSA8010/msa8010f16t03/data/encoded_cat_no_id_no_response.csv')

In [114]:
categorical_df.head(5)

,Unnamed: 0,l3_s29_f3317_t1,l3_s29_f3317_na,l3_s29_f3320_t1,l3_s29_f3320_na,l3_s29_f3323_t1,l3_s29_f3323_na,l3_s29_f3326_t1,l3_s29_f3326_na,l3_s29_f3329_t1,...,l3_s29_f3490_t1,l3_s29_f3490_na,l3_s29_f3493_t1,l3_s29_f3493_na,l3_s29_f3475_t1,l3_s29_f3475_na,l3_s29_f3478_t1,l3_s29_f3478_na,l3_s29_f3481_t1,l3_s29_f3481_na
0,0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,1,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3,3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,4,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [115]:
# taking on selected variables from numeric
numeric_cut_df=numeric_df[[#'L0_S0_F12',
'L0_S0_F16',
'L0_S1_F28',
'L0_S0_F20',
'L0_S0_F22',
'L0_S0_F0',
'L0_S0_F2',
'L0_S0_F4',
'L0_S0_F6',
'L0_S0_F8',
'L0_S0_F10',
'L0_S0_F14',
'L0_S0_F18',
'L0_S8_F144',
'L0_S8_F149',
'L0_S1_F24',
'L3_S30_F3564',
'L3_S30_F3709',
'L3_S30_F3684',
'L3_S30_F3639',
'L3_S30_F3649',
'L3_S30_F3689',
'L3_S30_F3584',
'L3_S30_F3604',
'L3_S30_F3574',
'L3_S30_F3624',
'L3_S30_F3569',
'L3_S30_F3579',
'L3_S30_F3589',
'L3_S30_F3609',
'L3_S30_F3629',
'L3_S30_F3634',
'L3_S30_F3644',
'L3_S30_F3664',
'L3_S30_F3669',
'L3_S30_F3674',
'L3_S30_F3679',
'L3_S30_F3704',
'L3_S30_F3509',
'L3_S30_F3504',
'L3_S30_F3529',
'L3_S29_F3479',
'L3_S30_F3499',
'L3_S30_F3494',
'L3_S30_F3544',
'L3_S29_F3473',
'L3_S29_F3476',
'L3_S29_F3333',
'L3_S29_F3388',
'L3_S30_F3524',
'L3_S30_F3549',
'L3_S29_F3348',
'L3_S29_F3395',
'L3_S30_F3809',
'L3_S33_F3857',
'L3_S30_F3774',
'L3_S33_F3855',
'L3_S33_F3859',
'L3_S33_F3861',
'L3_S33_F3863',
'L3_S33_F3865',
'L3_S30_F3759',
'L3_S30_F3754',
'L3_S30_F3744',
'L3_S30_F3749',
'L3_S30_F3799',
'L3_S29_F3427',
'L3_S29_F3339',
'L3_S29_F3455',
'L3_S30_F3514',
'L3_S30_F3519',
'L3_S30_F3534',
'L3_S30_F3539',
'L3_S30_F3554',
'L3_S30_F3559',
'L3_S29_F3315',
'L3_S29_F3318',
'L3_S29_F3321',
'L3_S29_F3324',
'L3_S29_F3327',
'L3_S29_F3330',
'L3_S29_F3336',
'L3_S29_F3342',
'L3_S29_F3345',
'L3_S29_F3351',
'L3_S29_F3354',
'L3_S29_F3357',
'L3_S29_F3360',
'L3_S29_F3367',
'L3_S29_F3370',
'L3_S29_F3373',
'L3_S29_F3376',
'L3_S29_F3379',
'L3_S29_F3382',
'L3_S29_F3385',
'L3_S29_F3398',
'L3_S29_F3401',
'L3_S29_F3404',
'L3_S29_F3407',
'L3_S29_F3412',
'L3_S29_F3421',
'L3_S29_F3424',
'L3_S29_F3430',
'L3_S29_F3433',
'L3_S29_F3436',
'L3_S29_F3439',
'L3_S29_F3442',
'L3_S29_F3449',
'L3_S29_F3452',
'L3_S29_F3458',
'L3_S29_F3461',
'L3_S29_F3464',
'L3_S29_F3467',
'L3_S29_F3470',
'L3_S30_F3764',
'L3_S30_F3769',
'L3_S30_F3779',
'L3_S30_F3784',
'L3_S30_F3789',
'L3_S30_F3794',
'L3_S30_F3804',
'L3_S30_F3814',
'L3_S30_F3819',
'L3_S30_F3824',
'L3_S30_F3829',
'Id',
'Response','L1_S24_F1846', 'L3_S32_F3850',
             'L1_S24_F1695', 'L1_S24_F1632',
             'L3_S33_F3855', 'L1_S24_F1604',
             'L3_S29_F3407', 'L3_S33_F3865',
             'L3_S38_F3952', 'L1_S24_F1723',
]]

In [116]:
# taking response column from numeric table
numeric_id=numeric_df[['Id']]

In [117]:
# concatinating id column from numeric_id table to categorical table
categorical_with_id_df = pd.concat([categorical_df, numeric_id], axis=1, join_axes=[categorical_df.index])

In [118]:
# dropping the first column from categorical_with_id_df table
cat_all=categorical_with_id_df.drop(categorical_with_id_df.columns[[0]], axis=1)

In [119]:
#joining categorical table and numeric table 
cat_num_final=pd.merge(numeric_cut_df,cat_all, on='Id', how='inner')

In [120]:
#Treaing all missing values with mean which is not a good approach
cat_num_final_imputed=cat_num_final.fillna(cat_num_final.mean())

In [132]:
cat_num_final_imputed.head(5)

,L0_S0_F16,L0_S1_F28,L0_S0_F20,L0_S0_F22,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,...,l3_s29_f3490_t1,l3_s29_f3490_na,l3_s29_f3493_t1,l3_s29_f3493_na,l3_s29_f3475_t1,l3_s29_f3475_na,l3_s29_f3478_t1,l3_s29_f3478_na,l3_s29_f3481_t1,l3_s29_f3481_na
0,0.020,0.167,-0.273,-0.273,0.030,-0.034,-0.197,-0.179,0.118,0.116,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,-0.225,-0.079,0.250,0.250,0.088,0.086,0.003,-0.052,0.161,0.025,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3,-0.026,-0.007,-0.253,-0.253,-0.036,-0.064,0.294,0.330,0.074,0.161,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,-0.169,-0.046,0.042,0.042,-0.055,-0.086,0.294,0.330,0.118,0.025,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [133]:
#Exporting this dataframe to csv
cat_num_final_imputed.to_csv('/home/data/MSA8010/msa8010f16t03/data/cat_num_final_imputed.csv', sep=',', encoding='utf-8')

In [ ]:
##############################################################################################################